
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 16px 'Montserrat', sans-serif;
}

.container{
    background-color: #cdcdcd;
    height: 100vh;
    width: 100vw;
}

a{
    text-decoration: none;
}

label {
    margin: 5px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.logo{
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}

.username{
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    justify-content: center;
}

.leftsidebar{
    position: fixed;
    margin-top: 50px;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}