@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --accent-color: #07bb01;
    --base-color: #ffffff;
    --text-color: #000000;
    --input-color: #f0f0f0;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font: 16px 'Montserrat', sans-serif;
    font-size: 16px;
    color:var(--text-color);
    text-align: center;
}

body{
    min-height: 100vh;
    background-image: url(cheeseducks.png);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.wrapper{
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(600px, 55%);
    padding: 0;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoText{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}

.heading{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover{
    border-color: var(--accent-color);
}   

form input:focus{
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus) > label{
    background-color: var(--text-color);
}

form input::placeholder{
    color:var(--text-color);
}

form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    transform: 0.2s ease;
}

form button:hover{
    background-color: var(--text-color);
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: var(--accent-color);
}

a:hover{
    text-decoration: underline;
}

@media (max-width: 100px){
    .wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}

form div.incorrect label{
    background-color: #bb0101;
}

form div.incorrect input{
    border-color: #bb0101;
}